
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-left-big:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-traffic-cone:before { content: '\e806'; } /* '' */
.icon-gauge:before { content: '\e807'; } /* '' */
.icon-user-add-outline:before { content: '\e808'; } /* '' */
.icon-user-add:before { content: '\e809'; } /* '' */
.icon-user-delete-outline:before { content: '\e80a'; } /* '' */
.icon-user-delete:before { content: '\e80b'; } /* '' */
.icon-users-outline:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-edit:before { content: '\e80e'; } /* '' */
.icon-pencil-1:before { content: '\e80f'; } /* '' */
.icon-pen:before { content: '\e810'; } /* '' */
.icon-power:before { content: '\e811'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */