* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #092eaf;
    height:100%;
    width: 100%;
}

.container {
    width: 100%;
    height:100%;
    margin: 0;
    padding:0;
    position: relative;
}

.title{
    display:flex;
    height:20%;
}

.logo-left{
    width:50%;
    height:100px;
    background-color:yellow;
    text-align: right;
}

.logo-right{
    width:50%;
    text-align: right;
}

.middle{
    display:flex;
    min-height: 500px;
}

.left{
    width:20%;
}
.center{
    width:60%;
    padding: 0 10%;
    background-color:grey;
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.right{
    width:20%;
}
.footer{
    background-color: green;
    margin-top:24px;
}

.footer p{
   margin-bottom: 0px;
}

.form{
    maring-left:auto;
    margin-right:auto;
}


#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="submit"],
#contact input[type="date"],
#contact input[type="password"],
.submitButton
{
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="date"],
#contact input[type="password"]
{
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover{
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #1852a0;
}

.square
{
    display:flex;
}

.link1
{
    margin: 3px;
    width: 100px;
    height: 70px;
    background-color: #3095d3;
    text-align: center;
}

.link1:hover
{
    background-color: #2084c2;
}

a.tilelink
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 100px;
    height: 70px;

}


.submitButton {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #397caf;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 0;
}

.buttonLogout {
    -moz-box-shadow:inset 0px 1px 50px 0px #23395e;
    -webkit-box-shadow:inset 0px 1px 50px 0px #23395e;
    box-shadow:inset 0px 1px 50px 0px #23395e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
    background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
    background-color:#2e466e;
    border:1px solid #1f2f47;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 12px;
    text-decoration:none;
    margin-left: 80%;
}
.buttonLogout:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
    background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
    background-color:#415989;
}
.buttonLogout:active {
    position:relative;
    top:1px;
}


#contact input[type="submit"]:hover {
    background: #1852a0;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact input[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus
{
    outline: 0;
    border: 1px solid #aaa;
}

.logo-left p {
    text-align: left;
}


::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}