* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #efefef;
    background: #3095d3;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.title {
    display: flex;
    height: 20%;
}

.logo-left {
    width: 50%;
    height: 100px;
    padding:10px;
    text-align: right;
}

.logo-right {
    width: 50%;
    text-align: right;
    padding-right: 5px;
}

.middle {
    display: flex;
    min-height: 500px;
    background: #3095d3;
}

.left {
    width: 20%;
}

.center {
    width: 60%;
    padding: 0 10%;
    background-color: #1c74b2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.right {
    width: 20%;
}

.footer {
    background-color: #1c74b2;
    height: 53px;
    text-align:center;
    border-top: 1px solid #0b63a2;
    padding: 10px;

}

.form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info {
    text-align: center;
}

.content input[type="text"],
.content input[type="email"],
.content input[type="tel"],
.content input[type="submit"],
.content input[type="date"],
.content input[type="password"],
.submitButton {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.content {
    background-color: #1f2f47;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.content h3 {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #39a5f1;
}

.content h4 {
    margin-top:5px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #39a5f1;
    text-align: center;
}

.content input[type="text"],
.content input[type="email"],
.content input[type="tel"],
.content input[type="date"],
.content input[type="password"] {
    width: 100%;
    border: 1px solid #ccc;
    background: #222930;
    margin: 0 0 5px;
    padding: 10px;
}

.content input[type="text"]:hover,
.content input[type="email"]:hover,
.content input[type="tel"]:hover,
.content input[type="password"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #1852a0;
}

.square {
    display: flex;
}

.link1 {
    margin: 3px;
    width: 105px;
    height: 70px;
    background-color: #3095d3;
    text-align: center;
}

.link2 {
    margin: 3px;
    width: 105px;
    height: 80px;
    background-color: #3095d3;
    text-align: center;
    line-height: 1.6;

}

.link1:hover {
    background-color: #2084c2;
}

.link2:hover {
    background-color: #2084c2;
}

a.tilelink {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 100px;
    height: 70px;

}

.back {
    text-align: center;
    background-color: #1f2f47;
    padding: 5px;
    width:auto;
}

.back:hover {
    background-color: #2f3f58;
}

.back a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.option-button{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    background-color: #3095d3;
    text-align: center;
}

.option-button:hover {
    background-color: #2084c2;
}

a.option-link {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.submitButton {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #397caf;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 0;
}

.buttonLogout {
    -moz-box-shadow: inset 0px 1px 50px 0px #23395e;
    -webkit-box-shadow: inset 0px 1px 50px 0px #23395e;
    box-shadow: inset 0px 1px 50px 0px #23395e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
    background: -moz-linear-gradient(top, #2e466e 5%, #415989 100%);
    background: -webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
    background: -o-linear-gradient(top, #2e466e 5%, #415989 100%);
    background: -ms-linear-gradient(top, #2e466e 5%, #415989 100%);
    background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989', GradientType=0);
    background-color: #2e466e;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 12px;
    text-decoration: none;
    margin-left: 80%;
}

.buttonLogout:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
    background: -moz-linear-gradient(top, #415989 5%, #2e466e 100%);
    background: -webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
    background: -o-linear-gradient(top, #415989 5%, #2e466e 100%);
    background: -ms-linear-gradient(top, #415989 5%, #2e466e 100%);
    background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e', GradientType=0);
    background-color: #415989;
}

.buttonLogout:active {
    position: relative;
    top: 1px;
}

.tab {
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
}

.tab:first-child{
    border:none;
    text-align: center;
}


.tab td {
    border: 1px solid #ccc;
    width:70px;
    height:20px;
    padding:3px;
}

.tab th {
    color: #39a5f1;
    font-size: 14px;
    text-align: center;
    padding:5px;

}

td.noborder{
    padding:0px;
}

.tab tr{
    height:20px;
}

.content input[type="submit"]:hover {
    background: #1852a0;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.content input[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.content input:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.stars{
    background:#fff;
    height:20px;
    width:150px;
    padding:10px;
    border-radius: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row-reverse;
    margin:5px;
}

.stars input{
    position: absolute;
    left: -99999999px;
}

label{
    width: 30px;
    height: 30px;
    padding: 5px;
}


label::before{
    content:'★';
    color:#c0c0c0;
    font-size: 20px;
    line-height: 20px;
    margin-right: -100%;
}

label:hover::before,
label:hover ~ label::before,
.stars input:checked  ~ label::before{
    color: #397caf;
}
textarea {
    width: 300px;
    font-size: 12px;
    background: #222930;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
}